body {
    background-color: aliceblue;
    background-image: url(./Imagens/um-grupo-de-cachorros-esta-reunido-em-um-quintal_808092-2447.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.logo {
    font-size: 50px;
}

.cabecalho {
    padding: 10px 5px;
    background-color: rgb(13, 163, 106);
    opacity: 80%;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho .nav {
    float: right;
    font-size: 25px;
}

.cabecalho .nav .li {
    display: inline-block;
    padding: 15px;
}

.main {
    background-color: wheat;
    padding: 30px;
    width: 900px;
    min-width: 320px;
    max-width: 900px;

    margin: 0 auto;
}

.info {
    color: white;
    font-size: 20px;
    font-style: italic;
    background-color: black;
    opacity: 70%;

}

.paragrafo {
    color: black;
    background-color: white;
    opacity: 70%;
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(83, 160, 83);
    padding: 20px;
    /* altura do rodapé */
}

.a {
    padding: 10px 100px;
    display: inline-block;
    font-size: 25px;
    opacity: 80%;
}