body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    background-image: url(./Imagens/um-grupo-de-cachorros-esta-reunido-em-um-quintal_808092-2447.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 50px;
}

.cabecalho {
    padding: 10px 5px;
    background-color: #229915;
    color: whitesmoke;
    opacity: 80%;
    background-attachment: fixed;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho .nav {
    float: right;
    font-size: 25px;
    color: black;
}

.cabecalho .nav .li {
    display: inline-block;
    padding: 15px;
}

.main {
    color: gray;
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;

    margin: 0 auto;
}

.info {
    color: white;
    font-size: 20px;
    font-style: italic;
    background-color: black;
    opacity: 70%;
    padding: 5px;

}

.paragrafo {
    color: black;
    background-color: white;
    opacity: 50%;
    padding: 20px;
}

.footer {
    padding: 0%;
    background-color:#229915;
    color: black;
    opacity: 90%;
    text-align: center;
    margin-top: auto;
}

.footer .link {
    float: left;
    font-size: 20px;
}


.footer .link .a {
    padding: 1rem;
    display: inline-block;
    
}

